/* This is all styles */
/* Impurt main font family */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
/* All */
*{
    border-radius: 15px;
    font-family: Tajawal, Times, serif;
    font-size: 25px;
}
/* Body styles */
body{
    color: #212121; /* Primary color of text */
    background-color: #fafafa;
}
img{
    width: 100%;
}
h1{
    text-align: center;
}
/* Main content styles */
.main-content{
    width: 90%;
    margin: auto;
    border: 3px solid #00000014;
    border-bottom-width: 0;
    border-radius: 15px 15px 16px 16px;
    background-color: #ffff;
}
/* Chaild content styles */
.caild-content{
    width: 95%;
    margin: auto;
}
/* Header style */
header{
    margin-bottom:10px;
}
/* Logo styles */
.logo {
    text-align: center;
    font-size: 35px;
    padding-bottom: 10px;
}
.logo:hover{

}

/* Navbar styles */
.navbar {
    background-color: #00BCD4;
    overflow: hidden; /* Hidden over contact */
    border-radius: 10px;
    box-shadow: 0 8px 10px -6px rgb(0 0 0 / 50%);
}
/* Links styles inside navbar */
.navbar a{
    color: #FFFFFF; /* Primary color of text */
    text-decoration: none;
    font-size: 20px;
    float: left;
    text-align: center;
    padding: 14px 16px;
    transition: all 0.3s ease-out;
    border-radius: 0;
}
.navbar a:hover{
    background-color: #B2EBF2;
    color: #757575;
}
.navbar a.active{
    background-color: #009688;    
}
.navbar a.active:hover{
    background-color: #BDBDBD;
    color: #ffff;
}
/***************************************** Home page styles *****************************************/
/* Quote styles */
.quote{
    margin-top: 15%;
    margin-bottom: 18.5%;
    text-align: center;
    padding: 15px;
    font-size: 55px !important;
    border-radius: 40px;
    transition: all 0.6s ease-in;
}
.quote:hover{
    background-color: rgb(0 0 0 / 22%);
    color: #FFFFFF;
}
/* About div styles */
.about{
    margin-top: 10px;
}
.about img {
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
    border-radius: 15px;
    width:  70% !important;
    padding-left: 20%;
    padding-top: 12%;
}
.about p{
    position: relative;
    top: -465px;
    right: -9%;
    width: 27.5%;
    direction: ltr;
    color: #ffff;
    background-color: #00BCD4;
    box-shadow: 6px 8px 10px -3px rgb(0 0 0 / 50%);
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
    padding: 5px;
}
.about p:hover{
    right: -15%;
    
}
/***************************************** About page styles *****************************************/
/* abstract */
.abstract{
    position: relative;
    top: -180px;
    background-color: rgb(0, 0, 0, 5%);
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.2s;
}
.abstract:hover{
    background-color: rgb(0, 0, 0, 35%);
    color: rgb(255, 255, 255);
}
.abstract h2, p{
    padding: 0 6px 0 6px;
    text-align: center;
}
.abstract p{
    margin-top: -1.3%;
}
.video-in-about-page{
    margin-top: -13%;
}
/* return-home-pege-button style */
.return-home-pege-button{
    width: 25%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: center;
    background-color: #B2EBF2;
    transition: all 0.6s ease-in-out;
}
.return-home-pege-button a{
    text-decoration: none;
    color: #000;
    transition:all 0.6s ease-in-out;
}
.return-home-pege-button div{
    width: 100%;
    padding: 5px;
}
.return-home-pege-button:hover{
    background-color: #00BCD4;
}
.return-home-pege-button a:hover{
    color: #ffff;
}
/***************************************** Services page styles *****************************************/
.header-services-page{
    margin: auto;
    width: 100%;
}
.header-services-page video{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header-services-page .paragraph{
    background-color: rgb(0, 0, 0, 30%);
    position: relative;
    top: 5px;
    color: #ffff;
    transition: all 0.6s ease-in-out;
}
.header-services-page p{
    padding: 5px;
    text-align: center;
}
.header-services-page .paragraph:hover{
    background-color: rgb(0, 0, 0, 60%);
}
.books{
    width: 80%;
    margin: auto;
}
.book-card{
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(0, 188, 212, 15%);
    transition: all 0.6s ease-in-out;
}
.book-card:hover{
    background-color: rgb(0, 188, 212, 40%);
}
.book-card img{
    width: 95%;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 3px;
}
.about-book{
    margin-top: -36px;
}
.about-book h3{
    margin-bottom: -20px;
    text-align: center;
}
.about-book div{
    margin-left: 55%;
}
/***************************************** Login page styles *****************************************/
.box {
    position: relative;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    margin-bottom: 75px;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
}
.box h2 {
    color: #fff;
    margin: 0 0 30px;
    text-align: center;
}
.box img {
    width: 40%;
    height: 40%;
    text-align: center;
    margin: 0 30%;
    margin-right: 0;
    border-radius: 20%;
}
.box .inputBox {
    position: relative;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #B2EBF2;
    border-radius: 0;
    outline: none;
    background: transparent;
}
.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    transition: 1.4s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    color: #00BCD4;
    font-size: 12px;
}

.box .submit{
    background: transparent;
    border: none;
    color: #000;
    background-color: #B2EBF2;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.4s linear;
}
.box .submit:hover{
    background-color: #00BCD4;
    color: #fff;
}
/***************************************** Contact us page styles *****************************************/
.contect {
    background-color: rgb(34, 32, 32, 15%);
    width: 76%;
    margin: auto;
}
.contect.overlay {
    padding: 50px 0;
    color: rgb(255, 255, 255);
}
.contect h2 {
    text-align: center;
    color: #0097A7;
    font-size: 35px;
}
.contect span {
    text-align: center;
    color: #009688;
    font-size: 35px;
}
.contect p {
    left: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.contect form {
    width: 99%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.contect form input [type="text"] .contect form input [type="email"] {
    width: 50%;
}
.contect form input [type="text"] {
    margin-right: 5px;
    padding-left: 10px;
    width: 500px;
}
.contect form textarea {
    margin-top: 20px;
    width: 65%;
}

#div1 button {
    background-color: #B2EBF2;
    border-color: transparent;
    color: #000;
    transition: all 0.4s linear;
}
#div1 button:hover{
    background-color: #00BCD4;
    color: #fff;
}
#div2 a{
    text-decoration: none;
}
#div2 img {
    width: 4%;
}
/***************************************** Footer stylse *****************************************/
footer{
    width: 100%;
    margin: auto;
    margin-left: -3px;
    background-color: #00BCD4;
    color: #ffff;
    border: 3px solid #00000014;
    border-top-width: 0;
    border-radius: 0 0 15px 15px;
}
footer .social{
    margin-left: 0.3%;
    display: inline;
}
footer a{
    text-decoration: none;
}
footer img{
    margin-top: 5px;
    width: 2.3%;
}
footer .copyright{
    text-align: center;
    display: inline;
    margin-left: 70%;
}